$themes: (
  default: ("body-bg": #e5e5e5,
    "primary": #3ba5dc,
    "secondary": #8392ab,
    "success": #00f867,
    "info": #5d0149,
    "warning": #fbcf33,
    "danger": #ea0606,
    "light": #e9ecef,
    "dark": #111927,
    "grey": #cbcbcb,
    "warm1":#FEF6F0,
    "warm2":#F2E1D9,
    "warm3":#E9D8D6,
    "warm4":#443331,
    "cool1":#FAF4FC,
    "cool2":#DDD5E0,
    "cool3":#C5BAE0,
    "cool4":#2D2D2D,
  ),
  dark: ("body-bg": #090f18,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
    "warm1":#FEF6F0,
    "warm2":#F2E1D9,
    "warm3":#E9D8D6,
    "warm4":#443331,
    "cool1":#FAF4FC,
    "cool2":#DDD5E0,
    "cool3":#C5BAE0,
    "cool4":#2D2D2D,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));